 
 
body {
    font-family: var(--font-body-family);
    font-size: var(--font-body-size);
    font-weight: var(--font-body-weight);
    line-height: var(--body-line-height);
    letter-spacing: var(--body-letter-spacing);
    color: var(--color-text);
    background: var(--color-background);
    margin: 0 auto;
    opacity: 1;
    visibility: visible;
    overflow-x: hidden;
}